<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Denuncias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-header translucent class="nombre">
      <ion-toolbar>
        <ion-title>Denuncias Aceptadas</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-item class="lista" *ngFor="let denuncia of denuncias.denuncia" translucent (click)="crearDenuncia(denuncia.codigo)"> 
      <ion-item>
          <b> {{denuncia.nombre}} </b>
        </ion-item>
    </ion-item>
  </ion-list>
  

 
</ion-content>
