<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="logosInicio">
    <img class="logo1" src="../../assets/logo1.png" alt="">
    <img class="logo2" src="../../assets/logo2.png" alt="">
  </div>
  <div id="logosInicio" class="ion-text-center titulo" >
    <h3> Bienvenido a Denuncia Ciudadana</h3>
  </div>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-content>
        <p>
          Una aplicacion que ayuda reportar y denunciar a los funcionarios publicos, que no cumplen con sus
          obligaciones, hacen cosas ilicitas o mala funcion de sus puestos, de los diferentfes sectores
          del munucipio de Bacalar Quintana Roo.
          <br>
          <br>
          Entre las diferentes denuncias estan;
          <br>
          •	Actos de contrarios a sus funciones u omisiones de personas servidoras públicas. <br>
          •	Deficiencia en servicios y trámites administrativos. <br>
          •	Negligencia. <br>
          •	Maltrato o prepotencia. <br>
        </p>
      </ion-card-content>
    </ion-card>
    
</ion-content>
